.visibility-must-hidden {
  visibility: hidden;
}

@media (max-width: 768px) {
  .visibility-must-hidden {
    display: none !important;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

.main-calc-wrap {
  width: 100%;
  margin-top: 30px;
}

.main-calc-title {
  width: 100%;
  text-align: center;
}

.main-calc-title h1 {
  font-size: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-pdf {
  color: white;
  height: 40px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #fe5700;
  border: none;
  font-size: 12px;
  padding: 10px;
}

.btn-pdf:focus {
  outline: none;
}

.btn-pdf:hover {
  background-color: #ff7832;
}

.nav-buttons {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 99;
}

.nav-buttons .nav-btn {
  color: white;
  width: 100px;
  height: 40px;
  margin-left: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: none;
}

.nav-buttons .nav-btn:focus {
  outline: none;
}

.nav-buttons .nav-btn:first-child {
  margin-left: 0;
}

.nav-buttons .nav-next {
  background-color: #fe5700;
  border: 1px solid #fe5700;
}

.nav-buttons .nav-next:hover {
  background-color: #ff7832;
  border: 1px solid #ff7832;
}

.nav-buttons .nav-next.inactive {
  background-color: transparent;
  color: #ffddcb;
  border: 2px solid #ffddcb;
}

.nav-buttons .nav-back {
  border: 1px solid #3f3f3f;
  background-color: #3f3f3f;
}

.nav-buttons .nav-back:hover {
  border: 1px solid #595959;
  background-color: #595959;
}

.nav-buttons .nav-back.inactive {
  color: #bfbfbf !important;
  border: 2px solid #bfbfbf !important;
  background-color: transparent !important;
}

.section-indicator {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-indicator .section-indicator-btn {
  font-size: 16px;
  color: #a7a7a7;
  border: 1px solid #a7a7a7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.section-indicator .section-indicator-btn:first-child {
  margin-left: 0;
}

.section-indicator .section-indicator-btn.active {
  color: #fe5700;
  border-color: #fe5700;
}

.section-wrap {
  width: 100%;
  position: relative;
}

.section-wrap .section {
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#section-1 {
  position: relative;
  opacity: 1;
  z-index: 99;
}

.section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  .section-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .section-column {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
}

.section-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .section-column {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
}

.section-column-left {
  padding-left: 100px;
  padding-right: 60px;
}

@media (max-width: 1200px) {
  .section-column-left {
    padding-left: 40px;
    padding-right: 30px;
  }
}

@media (max-width: 992px) {
  .section-column-left {
    padding-left: 0;
    padding-right: 15px;
  }
}

.section-column-right {
  padding-left: 60px;
  padding-right: 100px;
}

@media (max-width: 1200px) {
  .section-column-right {
    padding-left: 30px;
    padding-right: 40px;
  }
}

@media (max-width: 992px) {
  .section-column-right {
    padding-left: 15px;
    padding-right: 0;
  }
}

.section-title {
  width: 100%;
  text-align: center;
}

.section-title h3 {
  font-weight: bold;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-bottom: 50px;
  color: #5c5c5c;
  position: relative;
}

.section-title h3:before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #fe5700;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 2px;
}

.image-section {
  width: 100%;
  padding-top: 30px;
}

.image-section .image-wrap {
  width: 100%;
}

.image-section img {
  width: 100%;
}

.input-group-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.input-group-title h5 {
  color: #434343;
  font-weight: bold;
  font-size: 18px;
}

.single-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .single-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.single-input-label-wrap {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .single-input-label-wrap {
    width: 100%;
  }
}

.single-input-label-wrap label {
  margin-bottom: 0;
  color: #676f7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single-input-label-wrap .sub-label {
  font-size: 12px;
}

.single-input-label-wrap .input-label-semicolon {
  padding-right: 10px;
}

@media (max-width: 768px) {
  .single-input-label-wrap .input-label-semicolon {
    display: none;
  }
}

.single-input-field-wrap {
  width: 68%;
  position: relative;
}

@media (max-width: 768px) {
  .single-input-field-wrap {
    width: 100%;
  }
}

.single-input-field-wrap .single-input-el-wrap {
  position: relative;
}

.single-input-field-wrap .input-note {
  font-size: 12px;
  margin-bottom: 0;
  color: #fe5700;
}

.single-input-field-wrap input,
.single-input-field-wrap select {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  border-radius: 0;
  border: 1px solid #8d8d8d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  color: #727272;
}

.single-input-field-wrap input.only-bottom-border {
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
}

.single-input-field-wrap input:focus,
.single-input-field-wrap select:focus {
  outline: none;
  border-color: #fe5700;
  -webkit-box-shadow: 0 0 0 1px #fe5700 inset;
          box-shadow: 0 0 0 1px #fe5700 inset;
}

.single-input-field-wrap input.only-bottom-border:focus {
  border-bottom-color: #fe5700;
  -webkit-box-shadow: 0 -1px 0px 0px #fe5700 inset;
          box-shadow: 0 -1px 0px 0px #fe5700 inset;
}

.single-input-field-wrap a {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-4%, -50%);
          transform: translate(-4%, -50%);
  z-index: 1;
  width: 50px;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
}

.single-input-field-wrap a span {
  margin-top: -2px;
  color: #727272;
  padding-right: 10px;
  padding-bottom: 5px;
}

.not-validated {
  outline: none;
  border-color: #eb7479 !important;
  -webkit-box-shadow: 0 0 0 1px #eb7479 inset !important;
          box-shadow: 0 0 0 1px #eb7479 inset !important;
}

.validation-error-msg {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  font-size: 12px;
  color: #eb7479;
  -webkit-transform: translateY(105%);
          transform: translateY(105%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input-note {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  font-size: 12px;
  color: #fe5700;
  -webkit-transform: translateY(105%);
          transform: translateY(105%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.single-input-field-wrap.pedstal-config-wrap {
  width: 100%;
}

.input-notes-italic {
  font-style: italic;
  font-size: 14px;
  color: #fe5700;
}

#section-1 .section-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 768px) {
  #section-1 .section-column {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

#section-1 .root-selector-wrap {
  width: 100%;
  cursor: pointer;
}

#section-1 .root-selector-img-wrap {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

@media (max-width: 992px) {
  #section-1 .root-selector-img-wrap {
    padding: 10px;
  }
}

#section-1 .root-selector-img-wrap img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
}

#section-1 .root-selector-title {
  width: 100%;
  text-align: center;
}

#section-1 .root-selector-title h2 {
  font-weight: bold;
  font-size: 28px;
  color: #434343;
  position: relative;
}

@media (max-width: 768px) {
  #section-1 .root-selector-title h2 {
    font-size: 18px;
  }
}

.root-selector-wrap:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 768px) {
  #section-1 .section-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#section-2A .section-column-right {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  #section-2A .section-column-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  #img-section-2A {
    height: 300px;
  }
}

#img-section-2A .image-wrap {
  width: 100%;
  position: relative;
}

#img-section-2A img {
  width: 100%;
  position: absolute;
  opacity: 0;
}

#img-section-2B {
  padding-top: 30px;
}

#img-section-2B img {
  opacity: 1;
}

#img-section-3 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.result-table-wrapper {
  width: 100%;
  position: relative;
}

.result-table-wrapper .input-group-title {
  padding-bottom: 35px;
}

#result-table {
  width: 100%;
}

#result-table th,
#result-table td {
  border: 1px solid #8d8d8d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#result-table th {
  font-weight: bold;
  font-size: 18px;
}

.result-qty {
  font-weight: bold;
  font-size: 18px !important;
}

.incorrect-result {
  outline: 2px solid #d92027 !important;
  -webkit-box-shadow: 0 0 0 1px #eb7479 inset !important;
          box-shadow: 0 0 0 1px #eb7479 inset !important;
}

.incorrect-result-msg {
  font-size: 12px;
  color: #d92027;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  top: 50px;
}

.pdf-section-table {
  width: 100%;
}

.pdf-section-table table {
  width: 100%;
}

.pdf-section-table table th {
  font-size: 14px;
  font-weight: bold;
  color: #434343;
  padding-bottom: 15px;
  padding-top: 15px;
}

.pdf-section-table table td {
  font-size: 12px;
  color: #7f6f7f;
  padding-bottom: 8px;
  vertical-align: top;
  position: relative;
}

.label-colon {
  position: absolute;
  right: 0;
  font-weight: bold;
}

.pdf-field-number {
  font-size: 14px !important;
  font-weight: bold;
  padding-left: 15px;
}

#pdf-ped-img img {
  width: 110px;
  height: 110px;
}

#pdf-typical-img img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */