// Responsive breakdown mixins
//===================================
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin large-screen {
  @media (max-width: 1200px) {
    @content;
  }
}

// Some required tweaks
// ==============================
.visibility-must-hidden {
  visibility: hidden;

  @include tablet {
    display: none !important;
  }
}

// General styling
// ==============================
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.main-calc-wrap {
  width: 100%;
  // border: 1px solid #5a5a5a;
  margin-top: 30px;
  font-family: "Helvetica Neue", sans-serif;
  background-color: white;
}

.main-calc-title {
  width: 100%;
  text-align: center;
  h1 {
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.btn-pdf {
  color: white;

  height: 40px;
  text-transform: uppercase;
  transition: all 0.4s ease;
  background-color: #fe5700;
  border: none;
  font-size: 12px;
  padding: 10px;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: lighten(#fe5700, 10%);
  }
}
.nav-buttons {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 99;

  .nav-btn {
    color: white;
    padding: 6px 30px;
    margin-left: 20px;
    transition: all 0.4s ease;
    display: none;

    &:focus {
      outline: none;
    }
  }

  .nav-btn:first-child {
    margin-left: 0;
  }

  .nav-next {
    background-color: #fe5700;
    border: 1px solid #fe5700;
    &:hover {
      background-color: lighten(#fe5700, 10%);
      border: 1px solid lighten(#fe5700, 10%);
    }
  }
  .nav-next.inactive {
    background-color: transparent;
    color: lighten(#fe5700, 40%);
    border: 2px solid lighten(#fe5700, 40%);
  }

  .nav-back {
    border: 1px solid #3f3f3f;
    background-color: #3f3f3f;
    &:hover {
      border: 1px solid lighten(#3f3f3f, 10%);
      background-color: lighten(#3f3f3f, 10%);
    }
  }

  .nav-back.inactive {
    color: lighten(#3f3f3f, 50%) !important;
    border: 2px solid lighten(#3f3f3f, 50%) !important;
    background-color: transparent !important;
  }
}

// General Section style
//==========================
.section-indicator {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .section-indicator-btn {
    font-size: 16px;
    color: lighten(#5a5a5a, 30%);
    border: 1px solid lighten(#5a5a5a, 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
    transition: all 0.3s ease;

    &:first-child {
      margin-left: 0;
    }
  }

  .section-indicator-btn.active {
    color: #fe5700;
    border-color: #fe5700;
  }
}

.section-wrap {
  width: 100%;
  position: relative;

  .section {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }
}

#section-1 {
  position: relative;
  opacity: 1;
  z-index: 99;
}

.section-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;

  @include tablet {
    flex-direction: column;
  }
}

.section-column {
  @include tablet {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
}

.section-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  @include tablet {
    align-items: center !important;
  }
}

.section-column-left {
  padding-left: 100px;
  padding-right: 60px;

  @include large-screen() {
    padding-left: 40px;
    padding-right: 30px;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 15px;
  }
}

.section-column-right {
  padding-left: 60px;
  padding-right: 100px;

  @include large-screen() {
    padding-left: 30px;
    padding-right: 40px;
  }

  @include desktop {
    padding-left: 15px;
    padding-right: 0;
  }
}

.section-title {
  width: 100%;
  text-align: center;

  h3 {
    font-weight: bold;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    color: lighten(#363636, 15%);
    position: relative;

    &:before {
      content: "";
      width: 60px;
      height: 2px;
      background-color: #fe5700;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2px;
    }
  }
}

.image-section {
  width: 100%;

  .image-wrap {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

// General input element style
//============================

.no-padding-bottom {
  padding-bottom: 0 !important;
}
.input-wrapper {
  width: 100%;
}
.input-group-title {
  padding-top: 20px;
  padding-bottom: 20px;
  h5 {
    color: lighten(#363636, 5%);
    font-weight: bold;
    font-size: 18px;
  }
}

.single-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 30px;

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
  }
}

.single-input-label-wrap {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    width: 100%;
  }

  label {
    margin-bottom: 0;
    color: darken(#818998, 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sub-label {
    font-size: 12px;
  }
  .input-label-semicolon {
    padding-right: 10px;
    @include tablet {
      display: none;
    }
  }
}

.single-input-field-wrap {
  width: 68%;
  position: relative;

  @include tablet {
    width: 100%;
  }

  .single-input-el-wrap {
    position: relative;
  }

  .input-note {
    font-size: 12px;
    margin-bottom: 0;
    color: #fe5700;
  }

  input,
  select {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    border-radius: 0;
    border: 1px solid lighten(#5a5a5a, 20%);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    color: lighten(#3f3f3f, 20%);
  }

  input.only-bottom-border {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
  }

  input:focus,
  select:focus {
    outline: none;
    border-color: #fe5700;
    box-shadow: 0 0 0 1px #fe5700 inset;
  }
  input.only-bottom-border:focus {
    border-bottom-color: #fe5700;
    box-shadow: 0 -1px 0px 0px #fe5700 inset;
  }

  a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-4%, -50%);
    z-index: 1;
    width: 50px;
    height: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: white;
    font-size: 16px;
    font-weight: bold;

    span {
      margin-top: -2px;
      color: lighten(#3f3f3f, 20%);
      padding-right: 10px;
      padding-bottom: 5px;
    }
  }
}

.not-validated {
  outline: none;
  border-color: lighten(#d92027, 20%) !important;
  box-shadow: 0 0 0 1px lighten(#d92027, 20%) inset !important;
}

.validation-error-msg {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  font-size: 12px;
  color: lighten(#d92027, 20%);
  transform: translateY(105%);
  transition: all 0.3s ease;
}
.input-note {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  font-size: 12px;
  color: #fe5700;
  transform: translateY(105%);
  transition: all 0.3s ease;
}

.single-input-field-wrap.pedstal-config-wrap {
  width: 100%;
}

.input-notes-italic {
  font-style: italic;
  font-size: 14px;
  color: #fe5700;
  position: absolute;
  bottom: -30px;
  line-height: 12px;
}

// Customized Section-1 style
//===========================

#section-1 {
  .section-column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    // &:last-child {
    //   justify-content: flex-start;
    // }

    @include tablet {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }

  .root-selector-wrap {
    width: 100%;
    cursor: pointer;
  }

  .root-selector-img-wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    @include desktop {
      padding: 10px;
    }

    img {
      transition: all 0.3s ease;
      width: 130%;
    }
  }

  .root-selector-title {
    width: 100%;
    text-align: center;
    h2 {
      font-weight: bold;
      font-size: 28px;
      color: lighten(#363636, 5%);
      position: relative;

      @include tablet {
        font-size: 18px;
      }
    }
  }
}

.root-selector-wrap:hover {
  img {
    transform: scale(1.1);
  }
}

#section-1 .section-content {
  @include tablet {
    flex-direction: row;
  }
}

// Customized Section-2A style
//===========================

.input-group-wrap {
  padding-bottom: 25px;
}

.input-group {
  position: relative;
}

#section-2A {
  .section-column-right {
    justify-content: space-around;

    @include tablet {
      flex-direction: column;
    }
  }
}

#img-section-2A {
  @include tablet {
    height: 300px;
  }

  .image-wrap {
    width: 100%;
    position: relative;
    height: 266px;
  }

  img {
    width: 100%;
    position: absolute;
    opacity: 0;
  }
}

// Customized Section-2B style
//===========================
#img-section-2B {
  padding-top: 30px;
  img {
    opacity: 1;
  }
}

// Customized Section-3 style
//===========================

#section-3 {
  .section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }

  .result-section-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

    @include tablet {
      flex-direction: column;
    }
  }
}

#img-section-3 {
  // padding-top: 50px;
  // padding-bottom: 50px;

  .image-wrap {
    position: relative;
    height: 100px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
    }
  }
}

.result-table-wrapper {
  width: 100%;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;

  .input-group-title {
    padding-bottom: 20px !important;
  }

  @include large-screen() {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }

  .input-group-title {
    padding-bottom: 35px;
  }
}

#result-table {
  width: 100%;
  font-size: 14px;
  table-layout: fixed;

  @include tablet() {
    table-layout: inherit;
  }

  @include tablet() {
    font-size: 12px;
  }

  th,
  td {
    border: 1px solid lighten(#5a5a5a, 20%);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    text-align: center;
    height: 60px;
  }

  th {
    font-weight: bold;
    text-align: left;
    width: 12%;
    padding-left: 10px;

    @include tablet() {
      width: inherit;
    }
  }
}

.note-wrapper {
  p {
    color: #5a5a5a;
    margin-top: 8px;
  }
}

.result-qty {
  font-weight: bold;
}

.incorrect-result {
  outline: 2px solid #d92027 !important;
  // border-color: #d92027 !important;
  box-shadow: 0 0 0 1px lighten(#d92027, 20%) inset !important;
}

.incorrect-result-msg {
  font-size: 12px;
  color: #d92027;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  top: 50px;
}

// Route - A PDF modal style
//===========================
.pdf-section-table {
  width: 100%;
}

.pdf-section-table table {
  width: 100%;

  // td,
  // th {
  //   border: 1px solid black;
  // }

  th {
    font-size: 14px;
    font-weight: bold;
    color: #434343;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  td {
    font-size: 12px;
    color: #7f6f7f;
    padding-bottom: 8px;
    vertical-align: top;
    position: relative;
  }
}

.label-colon {
  position: absolute;
  right: 0;
  font-weight: bold;
}

.pdf-field-number {
  font-size: 14px !important;
  font-weight: bold;
  padding-left: 15px;
}

.btn-email {
  color: white;

  height: 40px;
  text-transform: uppercase;
  transition: all 0.4s ease;
  background-color: #fe5700;
  border: none;
  font-size: 12px;
  padding: 10px;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: lighten(#fe5700, 10%);
  }
}

#pdf-ped-img {
  img {
    width: 110px;
    height: 110px;
  }
}

#pdf-typical-img {
  img {
    width: 100%;
  }
}

.action-btn-wrapper {
  margin-top: 15px;
}

.action-btn-spinner {
  width: 15px;
  height: 15px;
  border-width: 1px;
  margin-left: 5px;
}

#mail-submit .spinner-border {
  margin-bottom: 3px;
}

#pdf-paving-img {
  img {
    width: 200px;
  }
}

#pdf-result-table {
  width: 100%;
  margin-top: 30px;

  th,
  td {
    border: 1px solid lighten(#5a5a5a, 20%);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
  }

  th {
    font-weight: bold;
    text-align: left;
    font-size: 10px;
  }
}

// Email - modal  design
//==============================
#send-email-modal {
  .modal-content {
    border: none;
    border-radius: 0;
  }
  .modal-body {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .modal-footer {
    border-top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    button {
      margin-left: 15px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
  label {
    display: block;
    color: #434343;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
  }
  input {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    border-radius: 0;
    border: 1px solid #8d8d8d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: normal;
    color: #727272;

    &:focus {
      outline: none;
    }
  }

  button[data-dismiss="modal"] {
    color: white;
    padding: 6px 15px;
    margin-left: 20px;
    transition: all 0.4s ease;
    border-radius: 0;
    text-transform: uppercase;
    border: none;
    &:focus {
      outline: none !important;
    }
  }
  #mail-submit {
    background-color: #fe5700;
    color: white;
    padding: 6px 15px;
    margin-left: 20px;
    transition: all 0.4s ease;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    &:hover {
      background-color: lighten(#fe5700, 10%);
    }
    &:focus {
      outline: none !important;
    }
  }
}

#mail-status {
  .modal-content {
    border: none;
    border-radius: 0;
  }
  .modal-body {
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  .modal-footer {
    border-top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    button {
      margin-left: 15px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  button[data-dismiss="modal"] {
    color: white;
    padding: 6px 15px;
    margin-left: 20px;
    transition: all 0.4s ease;
    border-radius: 0;
    text-transform: uppercase;
    border: none;
    &:focus {
      outline: none !important;
    }
  }
}
